.bookmark-button {
  cursor: pointer;
  background: var(--surface-1);
  color: var(--text);
  padding: 0.5rem 2rem;
  font-size: 1rem;
  display: inline;
  width: fit-content;
  display: flex;
  place-items: center;
  gap: 1rem;
  border-radius: 10px;

  & img {
    background: transparent;
    aspect-ratio: 1;
    width: 2rem;
    height: 2rem;
  }

  & p {
    background-color: var(--surface-1);
    font-size: 1rem;
    font-weight: bolld;
  }
}
