@import "./components/index.css";

:root {
    --background: #24273a;
    --background-alt: #23273e;
    --background-light: #323547;

    --text: #d9e0ee;
    --text-muted: #a4b3e6;
    --text-subtle: #c6d0f5;

    --overlay-1: #545c75;
    --overlay-2: #434758;

    --border: #323547;
    --surface-1: #323547;
    --surface-2: #2a2e47;
    --surface-3: #23273e;

    --mauve: #c6a0f6;
    --pink: #f5a3b8;
    --peach: #f7c2a1;
    --yellow: #f7e4a3;
    --green: #a6d189;
    --teal: #89dceb;
    --blue: #74c7ec;
    --lavender: #b4befe;
}

* {
    padding: 0;
    margin: 0;
    color: var(--text);
    background: var(--background);
}

.favorite {
    display: flex;
    gap: 1rem;
}
